/* hide chrome devtools box model panel  */

.sidebar-pane > .body > .split-widget { display: block; }
.sidebar-pane > .body > .split-widget::shadow div.widget { display: block; }

.sidebar-pane > .split-widget { display: block; }
.sidebar-pane > .split-widget::shadow div.widget { display: block; }
